@model CryptoModel
@{
    ViewData["Title"] = "Home Page";

}

<div>
    <h3 class="display-4"> Crypto Prices</h3>
    <center>
        <form asp-controller="Home" asp-action="Index">
            <table>
                <tr>
                    <td>Crypto Name
                    <td>
                    <td>
                        <input type="text" id="txtCryptoPrice" name="CryptoName"
                    </td>
                    <td> Currency to Use:</td>
                    <td>
                        <input type="text" id="txtCurrency" name="Currency"
                    </td>
                    <td>
                        <input type="submit" value="Submit"
                    </td>
                </tr>
            </table>
            <hr />
        </form>
    </center>

    @if (Model != null && Model.Items.Count > 0)
    {
        <table class=" table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var crypto in Model.Items)

                {

                    string cryptoName = crypto.Key.ToString(); // Takes name of cryptocurrency being passed in and converts to string

                    char cryptoNameFirstChar = cryptoName[0]; // gets first character of crypto name and gets it to lowercase
                    cryptoNameFirstChar = Char.ToUpper(cryptoNameFirstChar);
                    cryptoName = cryptoName.Remove(0, 1);
                    cryptoName = cryptoNameFirstChar + cryptoName;

                    string cryptoValue = crypto.Value.ToString();

                    <tr>
                        <th>@cryptoName</th>
                        <th>@cryptoValue</th>

                     </tr>


                }




            </tbody>

        </table>

    }


</div>