@model cryptoComparisonModel
@{
    ViewData["Title"] = "Home Page";

}



<div>
    <h3 class="display-4"> Crypto Prices</h3>
    <center>
        <form asp-controller="Home" asp-action="Index" method="get">
            <table>
                <tr>
                    <td>Crypto Name
                    <td>
                    <td>
                        <input type="text" id="txtCryptoPrice" name="CryptoName" />
                    </td>
                    <td> Currency to Use:</td>
                    <td>

                        @Html.DropDownListFor(model => model.currency, new SelectList(Model.currency), "Please select a currency to compare", new { name = "Currency", id = "txtCurrency" })

                    </td>
                    <td>
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
            <hr />
            <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
            <coingecko-coin-ticker-widget coin-id=@ViewBag.cryptoName currency=@ViewBag.comparisonCurrency style="border-width:0" locale="en"></coingecko-coin-ticker-widget>



        </form>
    </center>

    <br /><br />

    @if (Model != null && Model.Items.Count > 0)
    {
        <table class=" table table-bordered table-striped table-sm">

            <tbody>

                <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
                <coingecko-coin-price-chart-widget coin-id=@ViewBag.cryptoName currency=@ViewBag.comparisonCurrency height="300" locale="en" color="#1bda5b"></coingecko-coin-price-chart-widget>


            </tbody>

        </table>

    }


</div>